.reply{
    background-color: #FFFFFF;
    border: 1px solid #D9D9E3;
}

.reply .reply-content{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.reply .reply-details{
    display: flex;
    align-items: center;
}

.reply .reply-details img{
    width:35px;
    height: 35px;
    object-fit: cover;
    border-radius: 2px;
    justify-content: space-around;
}

.reply .reply-details p{
    white-space: pre-wrap;
    font-size: 1.05rem;
    padding: 0 50px 0 25px;
}

.person-button, .risk-button{
    color: black;
    font-size: 16px;
    padding: 0.5em 1em;
    border-radius: 1em;
    border: none;
    outline: none;
    background: #eae9e9;
    cursor: pointer;
}

.risk-button-low--selected{
    color: #FFFFFF;
    background: green;
}

.risk-button-medium--selected{
    background: #ffc108;
}

.risk-button-high--selected{
    color: #FFFFFF;
    background: #dc3546;
}

.person-button:not(.person-button--selected):hover,
.risk-button:not(.risk-button-low--selected, .risk-button-medium--selected, .risk-button-high--selected):hover{
    background: #d9d9d9;
}

.person-button--selected{
    color: #FFFFFF;
    background: rgb(126, 126, 126);
}


